<section class="about" aria-label="About ArtistsHub">
    <div class="card">
        <div class="photo">
            <picture>

                <source media="(min-width: 1440px)" srcset="/img/Team_1x_PC.jpg 1x, 
                        /img/Team_2x_PC.jpg 2x" />


                <source media="(min-width: 768px)" srcset="/img/Team_1x_Tab.jpg 1x, 
                        /img/Team_2x_Tab.jpg 2x" />

                <source media="(min-width: 320px)" srcset="/img/Team_1x_mob.jpg 1x, 
                                        /img/Team_2x_mob.jpg 2x" />
                <img src="/img/Team_1x_mob.jpg" alt="Photo of our team" />
            </picture>

        </div>

        <div class="content">
            <div class="icons-logo">
                <svg class="" width="80" height="80">
                    <use xlink:href="/img/logo icon_new_1.svg#icon-logo"></use>
                </svg>
            </div>
            <div div class="about title">
                <h2>About ArtistsHub</h2>
            </div>
            <div class="about-text">
                <p>
                    At ArtistsHub, our mission is to connect music lovers with the artists
                    they adore. We strive to create a vibrant community where discovering new music is as enjoyable as
                    listening to it.
                </p>
            </div>
        </div>
                </p>
            </div>
        </div>
    </div>
