<section class="about" aria-label="About ArtistsHub">
    <div class="card">
        <div class="photo">
            <!-- замените src путь/изображение -->
            <img src="../img/Team_2x_PC (1).jpg" alt="Photo of our team" width="640">
        </div>

        <div class="content">
            <div class="icons-logo">
                <svg class="" width="80" height="80">
                    <use href="../img/logo.svg#icon-Subtract"></use>
                </svg>
            </div>
            <div div class="about title">
                <h2>About ArtistsHub</h2>
            </div>
            <div class="about-text">
                <p>
                    At ArtistsHub, our mission is to connect music lovers with the artists
                    they adore. We strive to create a vibrant community where discovering new music is as enjoyable as
                    listening to it.
                </p>
            </div>
        </div>
    </div>