<header class="header">
  <div class="header-container container">
    <!--burger menu-->
    <button class="menu-toggle" id="open-menu">&#9776;</button>

    <!-- Десктопна навігація -->
    <nav class="nav-desktop" id="nav">
      <ul class="nav-list-desktop">
        <li><a href="#artists-section">Artists</a></li>
        <li><a href="#about-section">About Us</a></li>
        <li><a href="#reviews-section">Reviews</a></li>
      </ul>
    </nav>

    <!-- SVG логотип -->
    <a href="#" class="logo">
      <img src="./img/header/logo.svg" alt="ArtistsHub"/>
    </a>
  </div>

  <!-- Мобільне меню -->
  <div class="mobile-menu hidden" id="mobile-menu">

  <!-- Верхній рядок -->
  <div class="mobile-header-top">
    
    <!-- SVG логотип -->
    <a href="#" class="logo-mobile">
      <img src="./img/header/logo.svg" alt="ArtistsHub"/>
    </a>
    <!--btn close-->
    <button class="menu-close" id="close-menu"></button>
  </div>

  <!-- Навігація мобілка-->
  <nav class="nav-desktop">
    <ul class="nav-list-mobile">
      <li><a href="#artist-section">Artists</a></li>
      <li><a href="#about-section">About Us</a></li>
      <li><a href="#reviews-section">Reviews</a></li>
    </ul>
  </nav>
  </div>
</header>
