<div id="modal-backdrop" class="is-open">
  <div id="artist-details-modal">
    <button type="button" class="btn-modal-close" data-modal-close>
      <!-- <svg class="icon modal-close" width="32" height="32">
            <use href="./images/icons.svg#icon-close"></use>
          </svg> -->
    </button>
    <h1 id="artist-name">kff</h1>
    <img
      id="artist-photo"
      href="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg"
    />
    <div id="artist-intro-wrapper" data>
      <div id="intro-data">
        <h3 class="artist-details-heading">Years active</h3>
        <p class="artist-details-info"></p>
        <h3 class="artist-details-heading">Sex</h3>
        <p class="artist-details-info"></p>
        <h3 class="artist-details-heading">Members</h3>
        <p class="artist-details-info"></p>
        <h3 class="artist-details-heading">Country</h3>
        <p class="artist-details-info"></p>
      </div>
      <div id="bio-data">
        <h3 class="artist-details-heading">Biography</h3>
        <p class="artist-details-info"></p>
      </div>
    </div>
    <ul id="genres-list" data>
      <li class="genre">
        <p class="genre-text"></p>
      </li>
    </ul>
    <div id="albums" data>
      <h2 id="albums-title">Albums</h2>
      <ul id="albums-list"></ul>
    </div>
  </div>
</div>
